{#
    Ca c'est une vue
    Ici elle étend la vue principal qui est dans app/ressources/views
    Donc on aura déjà un partie de vue créer ensuite on va remplir les bloc de cette vue étendu
#}
{% extends "::base.html.twig" %}

{#
    Ici on dit que le block body de notre vue étendu va prendre tout ce qui suit
#}
{% block body %}
    <div id="page-wrapper">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-th-list"></i> Edition de rapport</h3>
                </div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="col-lg-9">
                            <button type="button" class="btn btn-default sameSize">
                                Générer la liste des biens informatique du parc
                            </button>
                        </div>
                        <div class="col-lg-3">
                            {{ form_widget(form.siteGeo, {'attr': {'class': 'form-control'}}) }}
                        </div>
<div class="col-lg-12"></div> 
                        <div class="col-lg-9">
                            <button type="button" class="btn btn-default sameSize">
                                Générer la liste des biens en fin de garantie
                            </button>
                        </div>
<div class="col-lg-12"></div> 
                        <div class="col-lg-9">
                            <button type="button" class="btn btn-default sameSize">
                                Générer la liste des matériels en fonction de son état
                            </button>
                        </div>
<div class="col-lg-12"></div>  
                        <div class="col-lg-9">
                            <button type="button" class="btn btn-default sameSize">
                                Générer la liste des logiciels
                            </button>   
                        </div>
                        <div class="col-lg-3">
                        {{ form_widget(form.etatMat, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    
                        
                        
                        
                    
                </div> 
            </div>
        </div>
    
{% endblock %}